@import url('https://fonts.googleapis.com/css?family=Oswald:300,700');

 html {
  font-size: 16px;
} 
@media (min-width: 700px) {
  html {
    font-size: 25px;
  }
}

body {
  color: #34517f;
  margin: 3em auto;
  text-align: center;
  background: linear-gradient(to left, #c2e59c , #64b3f4); 
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6;
}
.button{
  background: linear-gradient(to left, #f46b45 , #eea849);
  padding: 3em 0;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, .5);
  
  font-size: 1em;
  
}
.button-small a{
    display: inline-block;
    background: black; 
    font-weight: 700;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    text-decoration:none;
  
    padding: 1em 3em;
    
    margin: 0 .25rem;
  }