
/* 
////// For this challenge ///////

- You will have to modify the HTML

- You can add new classes in the HTML
  if you need to

// Requirements
1. The headings in the first row must be
   a different color
2. The two .col at the bottom must go next
   to one another
3. The section at the bottom should have
   a dark background color and a different
   color of text
4. I've removed the "gap" that I created,
   so you'll have to add it back in

   */

   *, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}
img{
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}
header {
    background: #136c72;
    padding: .5em 0;
}
.logo{
    margin-right:1em;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-grow:1;
    @media only screen and (max-width: 710px) {
        .nav__list {
         flex-wrap: wrap;
       }
       .nav__link{
        flex-grow:1;
        flex-basis: 150;
       }
     }
}
.nav__list{
    /* border: 2px solid red; */
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center ;
}

.nav__list--primary{
    margin:0 auto;
}
.nav__item +.nav__item{
    margin-left: 1em;
}

.nav__link {
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;;
}

.nav__link--button {
    background: #fff;
    color: #136c72;
    padding: .25em 1em;
    border-radius: 10em;
}

.nav__link:hover {
    color:#38CFD9;
    opacity: .75;
}


.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    
}

.row {
    /* display: flex => flex container */
    display: flex;
    justify-content: space-between;

    /* can't use yet */
    /* gap: 100px; */
}


.three_col h2{

    color:#87629A;
}
.two_col{
    /* padding:3em 0; */
    color: #fff;
    background-color:#136C72;
}

.col {
    /* these are now flex items */
    text-align: center;
}
.col p{
    font-size: 1em;
}


.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text {
    width: 60%;
    
}
.h_desc{
    color:#136C72;
}

.hero p {
    margin-bottom: 3em;
    
}
.img_web{
    width: 40%;
    align-self: flex-start; 
}
.holder{
    justify-content: space-between;
    margin:2em 0;
    display:flex;
    
}
.col_container{
    padding: 2em 2em;
    width: 35%;
    background-color: #136C72;
    color: #fff;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; }